# Normalise text files in the repository; Windows script files are always checked out with CRLF line endings
# (cmd.exe misparses .bat files with LF endings).
* text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# binary assets
*.task binary
*.png binary
*.jpg binary
*.zip binary
